// Primary color palette
$yellow-darkest: rgba(242,176,42,1);
$blue-darkest: rgba(6,21,57,1);
$orange-darkest: rgba(228,58,21,1);
$purple-darkest: rgba(67,36,108,1);

// Secondary color palette
$yellow-lightest: rgba(250,217,97,1);
$blue-lightest: rgba(14,62,173,1);
$orange-lightest: rgba(247,107,28,1);
$purple-lightest: rgba(144,19,254,1);